@model IEnumerable<RollCallApplication.Models.EventGuest>

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>Total Guests checked in: @ViewBag.TotalCheckedInGuests</p>
<p>@Html.ActionLink("Download Full Attendee List", "DownloadListAsCsv", "EventGuests")</p>
<br />
@using (Html.BeginForm("GuestListIndex", "EventGuests", FormMethod.Get))
{
    @Html.TextBox("searchParam", "")
    @Html.Hidden("sortOrder", (object)ViewBag.SortOrder)
    <input type="submit" value="Search" class="btn btn-toolbar" />
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.FirstName).ToHtmlString(), "PreregisteredCheckInList", (new { sortOrder = ("first_name_ascd".Equals(ViewBag.SortOrder) ? "first_name_desc" : "first_name_ascd"), searchParam = ViewBag.SearchParam }))
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.LastName).ToHtmlString(), "PreregisteredCheckInList", (new { sortOrder = ("last_name_ascd".Equals(ViewBag.SortOrder) ? "last_name_desc" : "last_name_ascd"), searchParam = ViewBag.SearchParam }))
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Email).ToHtmlString(), "PreregisteredCheckInList", (new { sortOrder = ("email_ascd".Equals(ViewBag.SortOrder) ? "email_desc" : "email_ascd"), searchParam = ViewBag.SearchParam }))
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.TimeOfCheckIn).ToHtmlString(), "PreregisteredCheckInList", (new { sortOrder = ("time_of_check_in_ascd".Equals(ViewBag.SortOrder) ? "time_of_check_in_desc" : "time_of_check_in_ascd"), searchParam = ViewBag.SearchParam }))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preregistered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WonCheckInRaffle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraRaffleEntry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WonExtraRaffleEntry)
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfCheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preregistered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WonCheckInRaffle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraRaffleEntry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WonExtraRaffleEntry)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditGuest", new { id = item.GuestId }) |
                @Html.ActionLink("Delete", "DeleteGuest", new { id = item.GuestId })
                @if (item.TimeOfCheckIn != null)
                {
                    <br />
                    @Html.ActionLink("Un-check In", "UnCheckInGuest", new { id = item.GuestId })
                }
                @if(item.WonExtraRaffleEntry == false)
                {
                    <br/>
                    if (item.ExtraRaffleEntry == false)
                    {
                        @Html.ActionLink("Give Extra Raffle", "InvertGuestExtraRaffleEntry", new { id = item.GuestId })
                    }
                    else
                    {
                        @Html.ActionLink("Remove Extra Raffle", "InvertGuestExtraRaffleEntry", new { id = item.GuestId })
                    }
                }
            </td>
        </tr>
    }
</table>

