@model IEnumerable<RollCallApplication.Models.EventGuest>
@if (ViewBag.CheckInAttemptMade != null)
{
    <script>
        alert("@ViewBag.AlertMessage");
    </script>
}
<div class="jumbotron">
    <h1>Welcome to the @ViewBag.EventName!!</h1>
</div>

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("PreregisteredCheckInList", "EventGuests", FormMethod.Get))
{
    @Html.TextBox("searchParam", "")
    @Html.Hidden("sortOrder", (object)ViewBag.SortOrder)
    <input type="submit" value="Search" class="btn btn-toolbar" />
}
<br/>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.FirstName).ToHtmlString(), "PreregisteredCheckInList", (new { sortOrder = ("first_name_ascd".Equals(ViewBag.SortOrder) ? "first_name_desc" : "first_name_ascd"), searchParam = ViewBag.SearchParam }))
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.LastName).ToHtmlString(), "PreregisteredCheckInList", (new { sortOrder = ("last_name_ascd".Equals(ViewBag.SortOrder) ? "last_name_desc" : "last_name_ascd"), searchParam = ViewBag.SearchParam }))
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Email).ToHtmlString(), "PreregisteredCheckInList", (new { sortOrder = ("email_ascd".Equals(ViewBag.SortOrder) ? "email_desc" : "email_ascd"), searchParam = ViewBag.SearchParam }))
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @using (Html.BeginForm("PreregisteredCheckInList", "EventGuests", new { id = item.GuestId }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        @if (item.TimeOfCheckIn == null)
                        {
                            <input type="submit" value="Check In" class="btn btn-primary" />
                        }
                        else
                        {
                            <input type="submit" value="Re-Check In" class="btn btn-default" />
                        }
                    </div>
                }
            </td>
        </tr>
    }
</table>
