@model RollCallApplication.Models.EventGuest
@if (ViewBag.Congrats != null)
{
    <script>
        alert(@ViewBag.CongratulationsMessage)
    </script>
}

<h2>Guest Raffle</h2>
<h3>@ViewBag.Message</h3>

@if (Model != null)
{
    <div>
        <h4>Raffle Winner</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TimeOfCheckIn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TimeOfCheckIn)
            </dd>
        </dl>
    </div>
}
